<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .question {
            display: none;
        }
        .question.active {
            display: block;
        }
    </style>
</head>
    <body class="bg-light">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark d-flex justify-content-between">
                    <div>
                        <h3 class="text-light card-title">{{ poll.title }}</h3>
                        <p class="card-description text-light">{{ poll.description }}</p>
                    </div>
                    <div>
                        <p class="card-description text-light fw-bold">{{ participant.last_name | upper }} {{ participant.first_name }}</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="progress mb-4">
                        <div id="progress-bar" class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <form id="questionnaire-form" data-count="{{ poll.questions.all | length }}" data-first_unanswered_index="{{ first_unanswered_index }}" method="post">
                        {% csrf_token %}
                        {% for question in poll.questions.all %}
                            <div class="question" id="question-{{ forloop.counter }}">
                                <h3> {{ forloop.counter  }} - {{ question.label }}</h3>
                                {% if question.type.label == 'Libre' %}
                                    <textarea class="form-control" name="question-{{ question.type.label | lower }}-{{ question.id }}" required> {% if answered_questions|get_item:question.id != None %}{{ answered_questions|get_item:question.id }} {% endif %}</textarea>
                                {% else %}
                                    {% for possibility in question.possibilities.all %}
                                        <div class="form-check" >
                                            <label class="form-check-label">
                                                <input type="{% if question.type.label == 'Unique' %}radio{% else %}checkbox{% endif %}" class="form-check-input" name="question-{{ question.type.label | lower }}-{{ question.id }}" value="{{ possibility.id }}" {% if possibility.id in answered_questions|get_item:question.id %} checked {% endif %}>
                                                {{ possibility.label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                {% endif %} 
                                
                            </div>
                        {% endfor %}
                        <div class="mt-4">
                            <button type="button" id="prevButton" class="btn btn-secondary"  onclick="showPreviousQuestion({{ forloop.counter }})">Previous</button>
                            <button type="button" id="nextButton" class="btn btn-dark" onclick="showNextQuestion({{ forloop.counter}})">Next</button>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Enregistrer vos réponses</button>
                    </form>
                </div>  
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                let currentQuestion = parseInt($('#questionnaire-form').data('first_unanswered_index'));
                console.log(currentQuestion);
                const totalQuestions = parseInt(document.getElementById('questionnaire-form').getAttribute('data-count'));
                function updateQuestionDisplay() {
                    document.querySelectorAll('.question').forEach((element, index) => {
                        element.classList.remove('active');
                        if (index === currentQuestion - 1) {
                            element.classList.add('active');
                        }
                    });
                    
                    // Update buttons prev et next disabled attr
                    document.getElementById('prevButton').disabled = currentQuestion == 1;
                    document.getElementById('nextButton').disabled = currentQuestion == totalQuestions;

                     // Update progress bar
                    const progressPercentage = (currentQuestion / totalQuestions) * 100;
                    document.getElementById('progress-bar').style.width = `${progressPercentage}%`;
                    document.getElementById('progress-bar').setAttribute('aria-valuenow', progressPercentage);
        
                    toggleSubmitButton(currentQuestion);
                }
        
                window.showNextQuestion = function() {
                    saveCurrentAnswer(currentQuestion).then(() => {
                        if (currentQuestion < totalQuestions) {
                            currentQuestion++;
                            updateQuestionDisplay();
                        }
                    });
                };
        
                window.showPreviousQuestion = function() {
                    if (currentQuestion > 1) {
                        currentQuestion--;
                        updateQuestionDisplay();
                    }
                };
        
                function toggleSubmitButton(questionNumber) {
                    if (questionNumber === totalQuestions) {
                        document.querySelector('button[type="submit"]').style.display = 'block';
                    //    document.querySelector('button[type="submit"]').setAttribute('name', 'submitted');
                    } else {
                        document.querySelector('button[type="submit"]').style.display = 'none';
                    }
                }

                // answers logic with Promise
                function saveCurrentAnswer(currentIndex) {
                    return new Promise((resolve, reject) => {
                        const currentQuestionElement = document.getElementById(`question-${currentIndex}`);
                        const inputs = currentQuestionElement.querySelectorAll('textarea, input[type="radio"]:checked, input[type="checkbox"]:checked');

                        console.log(currentQuestionElement);
                        //console.log(inputs); 
                        
                        let form_data = {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        }
                        inputs.forEach(input => {
                            console.log(input.type);
                            if(input.type == 'checkbox'){
                                if(!form_data[input.name]) {
                                    form_data[input.name] = [];
                                }
                                form_data[input.name].push(input.value);
                            } else {
                                form_data[input.name] = input.value;
                            }
                        });
                        console.log(form_data);
                        
                        $.ajax({
                            url: '{% url "polls.responses.save" poll.token participant.token %}',
                            type: 'POST',
                            data: form_data,
                            success: function(data) {
                               console.log('Answer saved:', data);
                               resolve();
                            },
                            error: function(error) {
                                console.error('Error saving answer:', error);
                                reject();
                            }
                        });
                    });
                }
    
                // final button submit logic
                document.getElementById('questionnaire-form').addEventListener('submit', function(event) {
                    event.preventDefault();
                    saveCurrentAnswer(currentQuestion).then(() => {
                        document.getElementById('questionnaire-form').submit();
                    });
                });
        
                // Initial display update
                updateQuestionDisplay();
            });
        </script>
        
    </body>
</html>
