{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon">
    <title>e-sondage - Dashboard</title>
    <link rel="stylesheet" href="{% static 'home/main.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'questions/accordion.css' %}">
    <!-- box icon -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="{% static 'virtual-select/virtual-select.min.css' %}" />

    <!-- Datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

  </head>
  <body>
    <div class="sidebar">
      <a href="{% url 'home' %}" style="text-decoration: none;">
        <div class="logo_details">
          <!-- <i class='bx bx-code-alt'></i> -->
          <!-- <i class='bx bx-edit'></i> -->
          <div>
            <img src="{% static 'home/pics/logo.png' %}" width="50" height="50">
          </div>
          <div class="logo_name">
            e-sondage
          </div>
        </div>
      </a>
      <ul class="p-0">
        <li>
          <a href="{% url 'home' %}" class="active">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">
              Dashboard
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-truck'></i>
            <span class="links_name">
              Polls
            </span>
          </a>
        </li>
        <li>
          <a href="{% url 'participants.index' %}">
            <i class='bx bxs-user-plus'></i>
            <span class="links_name">
              Participants
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-dollar' ></i>
            <span class="links_name">
              Statistics
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cart-alt'></i>
            <span class="links_name">
              Order
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-heart'></i>
            <span class="links_name">
              Saved
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-user'></i>
            <span class="links_name">
              Profile
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog'></i>
            <span class="links_name">
              Settings
            </span>
          </a>
        </li>
        <li class="login">
          <a href="{% url 'logout' %}">
            <span class="links_name login_out">
              Login Out
            </span>
            <i class='bx bx-log-out' id="log_out"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- End Sideber -->
    <section class="home_section">
      <div class="topbar">
        <div class="toggle">
          <i class='bx bx-menu' id="btn"></i>
        </div>
        <!-- <div class="search_wrapper">
          <label>
            <span>
              <i class='bx bx-search'></i>
            </span>
            <input type="search" placeholder="Search...">
          </label>
        </div> -->
        <div class="user_wrapper">
          <div>
            <img src = "{% static 'home/pics/user.jpg' %}" alt="">
          </div>
          <div class="username-wrapper">
            {% if user.is_authenticated %}
              <span>Bienvenue <span class="badge bg_info p-2">{{ user.username | upper }}</span> </span>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- End Top Bar -->

      {% block content %}
      {% endblock %}
    </section>

    <script src = "{% static 'home/main.js' %}" type ="text/javascript"></script>
    <!-- <script src = "{% static 'jquery/jquery.js' %}" type ="text/javascript"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- dataTables js -->
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
      
    {% block js %}
    {% endblock %}
  </body>
</html>
