{%  extends 'home/base.html' %}

{% load static %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center mt-3">
        <div class="grid-margin stretch-card mt-5">
            <div class="card">
                <div class="card-header bg-dark">
                    <h4 class="text-center mt-3 text-white">Liste des participants et leurs liens</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="participantsTable" class="table table-bordered text-nowrap border-bottom mb-0  border">
                            <thead>
                                <tr>
                                    <th class="col">Nom & Prénoms</th>
                                    <th class="col">Link</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for information in informations %}
                                    <tr>
                                        <td>{{ information.full_name }}</td>
                                        <td>{{ information.link }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready( function () {
            $('#participantsTable').DataTable();
        } );
    </script>
{% endblock %}